<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.springboot.mapper.AdvisoryNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="advisoryNotice">
        <id column="id" property="id" jdbcType="DECIMAL"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content_detail" property="contentDetail" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_valid" property="isValid" jdbcType="DECIMAL"/>
    </resultMap>

    <insert id="addAdvisoryNotice" parameterType="com.lx.springboot.entity.AdvisoryNotice" useGeneratedKeys="true" keyProperty="id">
        insert into advisory_notice (
         id,title,content_detail,type, create_time,update_time,is_valid
        )
        values
        (
        #{id,jdbcType=DECIMAL},#{title,jdbcType=VARCHAR},
        #{contentDetail,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},now(),
        now(), #{isValid,jdbcType=DECIMAL}
        )
    </insert>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,title,content_detail,type, create_time,update_time,is_valid
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from advisory_notice where id = #{id} and is_valid=1
    </select>

    <!--获取所有的申请人信息-->
    <select id="getAllAdvisoryNotice" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from advisory_notice where is_valid=1
    </select>

    <select id="getAdvisoryNoticeByParam" resultMap="BaseResultMap" parameterType="advisoryNotice">
        select
        <include refid="Base_Column_List"/>
        from advisory_notice where is_valid=1
        <if test="type != null" >
            AND type = #{type,jdbcType=VARCHAR}
        </if>
        order by create_time desc
        <if test="start != null and end != null" >
            limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
        </if>

    </select>

    <!--根据会员id删除申请人信息-->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from advisory_notice where id = #{id}
    </delete>

</mapper>
