<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.springboot.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lx.springboot.entity.Customer">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="password" property="password" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="updated_date" property="updatedDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, customer_name, password, phone_number, email, status, create_date, updated_date
    </sql>

    <select id="selectById" resultType="Customer">
        select * from customer where id = #{id}
    </select>

    <!--获取所有的会员信息-->
    <select id="getAllCustomer" resultType="Customer">
         select * from customer
    </select>

    <!--根据会员id删除会员信息-->
    <delete id="deleteById">
        delete from customer where id = #{id}
    </delete>
</mapper>
